<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> 
<head>
<meta charset="ISO-8859-1">
<title>Forgot Password</title>
<link rel="stylesheet" th:href="@{/CSS files/ForgotPassword.css}">
<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css}">
</head>
<body>
<ul class="active"><a th:href="@{/}"><em class="fa-solid fa-house-circle-exclamation"></em></a>
 </ul>
	<form id="forgot" onsubmit="equal()" th:action="@{/forgotPassword}" method="get" th:object="${Forgot}">
		<div class="container">
			<tr>
				<br>
				<td>&emsp;&emsp;&emsp;&emsp;&emsp;User Name <br>
				</td>
				&emsp;&emsp;<td> <input type="text" name="User Name" id="User Name" placeholder="User Name"  th:field="*{userName}" required>
     
				</td>
			</tr>

			<br>
			<br>
			<tr>
				<td>&emsp;&emsp;&emsp;Create New Password <br>
				</td>
				<td>&emsp;&emsp;<input type="password" name="Password" id="Password"
					placeholder="Password" th:field="*{password}" required onkeyup="passwordValidation()" />

				</td>
			</tr>

			<br>
			<br>
			<tr>
				<td>&emsp;&emsp;&emsp;Confirm Password <br>
				</td>
				<td>&emsp;&emsp;<input type="Password" name="Password" id="password"
					placeholder="Password" th:field="*{password}" required onkeyup="passwordValidation()" />
				</td>
			</tr>
			<div>
				<br>
				<br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<button value="cancel">Cancel</button>
				&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
				<button type="submit">Submit</button>
			</div>
		</div>
	</form>
</body>
</html>