<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" th:href="@{/CSS files/TravelPassReject.css}">
</head>
<body>
    <div class="container">
        <div class="popup" id="popUp">
            <img th:src="@{/Images/Reject1.png}" alt="Checked">
             <h4 th:text="${session.UserName}" readonly="readonly"></h4>
				
            <h2>Rejected</h2>
            <br>
 		
<button type="button" th:onclick="location.href='/adminDashboard'">Next</button>
  </div>
    </div>
</body>
</html>